{% extends "layout.html" %}

{% block title %}
    Sell shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option value="" disabled selected>Select a stock</option>
                {% for stock in stock_positions %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell shares</button>
    </form>

{% endblock %}
